.card {
  border-radius: .75rem;
  padding: 1rem;
  cursor: pointer;

  &__title {
    margin: 0;
    user-select: none;
  }

  &__data {
    margin-top: .5rem;
  }

  &__json {
    white-space: break-spaces;
  }
}
