<section class="preview">
  <app-card [title]="'Random cat fact'"
            [displayed]="true"
            [data]="fact$ | async"></app-card>

  <app-card title="Colors example"
            [data]="colors$ | async"></app-card>

  <app-card title="Color example"
            [data]="color$ | async"></app-card>

  <app-card title="Themes example"
            [data]="themes$ | async"></app-card>

  <app-card title="Theme example"
            [data]="theme$ | async"></app-card>

  <app-card title="Element details example"
            [data]="element$ | async"></app-card>

  <app-card title="Minifigs example"
            [data]="minifigs$ | async"></app-card>

  <app-card title="Minifig example"
            [data]="minifig$ | async"></app-card>

  <app-card title="Minifig parts example"
            [data]="minifigParts$ | async"></app-card>

  <app-card title="Minifig parts extended example"
            [data]="minifigPartsExtended$ | async"></app-card>

  <app-card title="Minifig sets example"
            [data]="minifigSets$ | async"></app-card>

  <app-card title="Part categories example"
            [data]="partCategories$ | async"></app-card>

  <app-card title="Part category example"
            [data]="partCategory$ | async"></app-card>

  <app-card title="Parts example"
            [data]="parts$ | async"></app-card>

  <app-card title="Parts details example"
            [data]="partsExtended$ | async"></app-card>

  <app-card title="Part example"
            [data]="part$ | async"></app-card>

  <app-card title="Part colors example"
            [data]="partColors$ | async"></app-card>

  <app-card title="Part color example"
            [data]="partColor$ | async"></app-card>

  <app-card title="Part color sets example"
            [data]="partColorSets$ | async"></app-card>

  <app-card title="Sets example"
            [data]="sets$ | async"></app-card>

  <app-card title="Set example"
            [data]="set$ | async"></app-card>

  <app-card title="Set alternates example"
            [data]="setAlternates$ | async"></app-card>

  <app-card title="Set minifigs example"
            [data]="setMinifigs$ | async"></app-card>

  <app-card title="Set parts example"
            [data]="setParts$ | async"></app-card>

  <app-card title="Set parts no color example"
            [data]="setPartsNoColor$ | async"></app-card>

  <app-card title="Set sets example"
            [data]="setSets$ | async"></app-card>
</section>
